%h2 #{@user.full_name} editieren

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification

  .form
    .field
      = f.input :username, :required => true, :label => "Benutzername:", :autofocus => true
    .field
      = f.input :first_name, :label => 'Vorname:'
    .field
      = f.input :last_name, :label => 'Nachname:'
    .field
      = f.input :email, :label => 'E-Mail:'
    .field
      = f.input :password, :required => false, :label => "neues Passwort:"
    .field
      = f.input :password_confirmation, :required => false, :label => "neues Passwort bestätigen:"
    .field
      = f.input :current_password, :required => true, :label => "altes Passwort:"
    .actions
      = f.button :submit, "Speichern", :class => "button"
      = button_to "Abbrechen", :back, :method => :get, :class => "button"
