%h2 Edit "#{current_user.username}"

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification

  .inputs
    .field
      = f.input :username, :required => true, :autofocus => true
    .field
      = f.input :password, :required => false # :hint => "leave it blank if you don't want to change it"
    .field
      = f.input :password_confirmation, :required => false
    .field
      = f.input :current_password, :required => true # :hint => "we need your current password to confirm your changes"

  .actions
    = f.button :submit, "Update"

= link_to "Back", :back
