.person_info
  %ul
    %li
      %span.column_left
        Benutzername:
      %span.column_right
        = @user.username
      %hr
    %li
      %span.column_left
        Vorname:
      %span.column_right
        = @user.first_name
      %hr
    %li
      %span.column_left
        Nachname:
      %span.column_right
        = @user.last_name
      %hr
    %li
      %span.column_left
        Email:
      %span.column_right
        = mail_to @user.email
      %hr
    %li
      %span.column_left
        Roles:
      %span.column_right
        %ul
          - @user.user_roles.each do |role|
            %li #{role.name}
          
      %hr