%ul
  %li
    Benutzereinstellungen
    %span#user
      = link_to_function "anzeigen", "toggle('user_settings', 'user')"
    %hr
    = render 'users/shared/user_settings'
  %li
    Spracheinstellungen
    %span#language
      = link_to_function "anzeigen", "toggle('language_settings', 'language')"
    %hr
    = render 'users/shared/language_settings'
  %li
    Ländereinstellungen
    %span#country
      = link_to_function "anzeigen", "toggle('country_settings', 'country')"
    %hr
    = render 'users/shared/country_settings'
  %li
    Weitere Einstellungen
    %span#further
      = link_to_function "anzeigen", "toggle('further_settings', 'further')"
    %hr
    = render 'users/shared/further_settings'
    
    


