%ul
  %li
    Benutzereinstellungen
    %span
    = link_to_function "anzeigen", "toggle('user_settings', 'user')", :id => "user"
    %hr
    = render 'users/shared/user_settings'
  %li
    Spracheinstellungen
    %span
      = link_to_function "anzeigen", "toggle('language_settings', 'language')", :id => "language"
    %hr
    = render 'users/shared/language_settings'
  %li
    Ländereinstellungen
    %span
      = link_to_function "anzeigen", "toggle('country_settings', 'country')", :id => "country"
    %hr
    = render 'users/shared/country_settings'
  %li
    Weitere Einstellungen
    %span
      = link_to_function "anzeigen", "toggle('further_settings', 'further')", :id => "further"
    %hr
    = render 'users/shared/further_settings'
    
    


