%h1
  Alle Benutzer

.actions
  - if can? :create, User
    .new_action
      = link_to 'neuen Benutzer erfassen', new_user_path()
%hr

#users
  .users.round
    = render 'users/shared/display_users'
    
%h1
  Alle Sprachen

.actions
  - if can? :create, Language
    .new_action
      = link_to 'neue Sprache erfassen', new_language_path()
%hr

%h1
  Alle Länder

.actions
  - if can? :create, Country
    .new_action
      = link_to 'neues Land erfassen', new_country_path()
%hr

%h1
  Einstellungen
.actions
  = form_tag '/new_customer_duration', {:controller => 'customers', :action => 'new_customer_duration', :id => 'new_customer_duration'} do
    = select_tag 'duration', options_for_select(1...24, 5)
    = select_tag 'date_type', options_for_select({"Tage" => 'days', "Wochen" => 'weeks', "Monate" => 'months', "Jahre" => 'years'}, 'months')
    = submit_tag "NEU setzen"
      