%h1= @user.new_record? ? "Neuen Benutzer erfassen" : @user.full_name + " editieren"

.form
  = simple_form_for @user do |f|
    .field
      = f.input :username, :label => 'Benutzername:'
    .field
      = f.input :first_name, :label => 'Vorname:'
    .field
      = f.input :last_name, :label => 'Nachname:'
    .field
      = f.input :email, :label => 'E-Mail:'
    .field
      %label
        Berechtigung:
      .assoc_items
        = f.association :user_roles, :label => false, :as => :check_boxes, :item_wrapper_tag => :div
    = f.submit "Speichern", :id => "submit"