%h1= @user.new_record? ? "Neuen Benutzer erfassen" : @user.full_name + " editieren"

.form
  = simple_form_for @user do |f|
    .field
      = f.input :username,              :label => 'Benutzername:'
    .field
      = f.input :first_name,            :label => 'Vorname:'
    .field
      = f.input :last_name,             :label => 'Nachname:'
    .field
<<<<<<< HEAD
      = f.input :email,                 :label => 'E-Mail:'  
    .field
      = f.association :user_roles,      :label => 'Berechtigung:'
      
=======
      = f.input :email,                 :label => 'E-Mail:'
    .field
      = f.input :password,              :label => 'Password:'
    .field
      = f.input :password_confirmation, :label => 'Bestätigen:'
    .field
      = f.association :user_roles,      :as => :check_boxes, :label => 'Berechtigung:'
        
>>>>>>> ff71e0fc13a84fbcef8706314e6665181db8ae85
    = f.submit "Speichern", :id => "submit"