%h1
  - if @customer.new_record?
    Neuen Kunden hinzufügen
  = #{@customer.company} editieren
  
.form
  = simple_form_for @customer do |f|
    = render 'layouts/company_fields', :f => f
    = f.submit "Speichern", :id => "submit"
  
  