%h1
  Alle Kunden

.actions
  = link_to 'neuen Kunden erfassen', new_customer_path()
  %hr

/ %h3
/   - ("a".."z").each do |character|
/     = link_to character, customers_path(:name => character)

.customers.round
  - @customers.each do |customer|
    .customer
      %ul
        %li.company_column
          = link_to "#{customer.company}", customer
        %li.phone_column
          = customer.phone
        %li.email_column
          = customer.email
        %li.edit_column
          = link_to  "editieren", edit_customer_path(customer)
        %hr