%h1.column_left
  Alle Kunden
  = @customers.class.to_s

.column_right.actions
  - if can? :create, Customer  
    .new_action    
      = button_to 'neuen Kunden erfassen', new_customer_path(), :method => :get, :class => "button"

  #export_as_csv
    = button_to "EXCEL", download_customers_path, :method => :post, :class => "button"
%hr
= render 'customers/shared/printer_form'
%hr

%ul.pagination
  %strong Springen zu:
  - Customer.pagination_letters.each do |letter|
    %li
      = link_to letter, customers_path(:letter => letter)
%hr
#customers
  .customers
    / .company_column
    /   = link_to_sorted "Firmenname", :company
    / .phone_column
    /   = link_to_sorted "Telefon", :phone
    / .email_column
    /   = link_to_sorted "E-Mail", :email
    / .rating_column
    /   = link_to_sorted "Bewertung", :rating
  %hr.spaced
    - @customers.each do |customer|
      .customer
        %ul.printables
          = render 'customers/shared/display_customer', :customer => customer, :checkboxes => true
          
/ = paginate @customers