%h1
  Alle Kunden
  
= render 'layouts/search_function'

.actions
  = link_to 'neuen Kunden erfassen', new_customer_path()
  %hr
    
%ul.pagination
  %strong Springen zu:
  - Customer.pagination_letters.each do |letter|
    %li
      = link_to letter, customers_path(:letter => letter)

.customers.round
  - @customers.each do |customer|
    .customer
      %ul
        %li.company_column
          = link_to "#{customer.company}", customer
        %li.phone_column
          = customer.phone
        %li.email_column
          = customer.email
        %li.edit_column
          = link_to  "editieren", edit_customer_path(customer)
        %hr