%h1
  Alle Kunden
  
.customer_search
  = form_tag '/customers/query', :controller => 'customers', :action => 'search' do
    = search_field_tag 'search'
    = submit_tag "Kunden suchen"


%ul.result
    
    

.actions
  = link_to 'neuen Kunden erfassen', new_customer_path()
  %hr
    
%ul.pagination
  %strong Springen zu:
  - Customer.pagination_letters.each do |letter|
    %li
      = link_to letter, customers_path(:letter => letter)


.customers.round
  = render 'layouts/display_customers'