%h1
  = @customer.company
  
%ul
  %li
    = @customer.company
  %li
    = @customer.phone
  %li
    = @customer.mobile
  %li
    = @customer.fax
  %li
    = @customer.email
  %li
    = @customer.language
  %li
    = link_to "#{@customer.homepage}", @customer.homepage

%h2
  = link_to "edit", edit_customer_path(@customer)
  