%h1 Einloggen

.form
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .inputs
      .field
        = f.input :username, :required => false, :autofocus => true, :label => "Benutzername:"
      .field
        = f.input :password, :required => false, :label => "Passwort:"
  
    .actions
      = f.button :submit, "Einloggen", :class => "button"
      
= link_to "Passwort vergessen?", new_user_password_path