.field
  = f.input :company,  :label => 'Firmenname:'
.field
  = f.input :phone,    :label => 'Telefon:'
.field
  = f.input :mobile,   :label => 'Mobile:'
.field
  = f.input :fax,      :label => 'Fax:'
.field
  = f.input :email,    :label => 'E-Mail:'
.field
  = f.input :homepage, :label => 'Homepage:'
.select
  %label
    Sprache:
  = f.select :language, options_for_select(["Deutsch", "Français", "Italiano", "English"], @customer.language)