bobbobbob
- @customers.each do |customer|
  .customer
    %ul
      %li.company_column
        = link_to "#{customer.company}", customer
      %li.phone_column
        = customer.phone
      %li.email_column
        = customer.email
      %li.edit_column
        = link_to  "editieren", edit_customer_path(customer)
      %hr