%nav.round#left
  - if signed_in?
    %span.search_function
      = form_tag search_customers_path, {:controller => 'customers', :action => 'index', :id => 'customer_search'} do
        = search_field_tag 'search', params[:search], {:id => 'search_field'}
        = submit_tag "Kunden suchen", :class => "button"
%nav.round#right
  %ul
    - if signed_in?
      %li.current_user
        Eingeloggt als
        = link_to current_user.full_name, current_user
      %li
        = link_to "Kunden", root_path
        
      - if can? :manage , User
        %li
          = link_to "Einstellungen", settings_path
          
      %li
        = link_to "Ausloggen", destroy_user_session_path, :method => :delete
    - else
      %li
        = link_to "Einloggen", new_user_session_path
%hr.fat