%nav.round#left
  %ul
    %li
      = link_to "Kunden", root_path
    
    -if can? :manage , User
      %li
        = link_to "Einstellungen", users_path
%nav.round#right
  %ul
    %li.current_user
      - if current_user
        Eingeloggt als
        = link_to current_user.full_name, current_user
        
    - if signed_in?
      %li
        = link_to "Ausloggen", destroy_user_session_path, :method => :delete
    - else
      %li
        = link_to "Einloggen", new_user_session_path
%hr