- @customers.each do |customer|
  .customer
    %ul
      %li.company_column
        = link_to "#{customer.company}", customer
        -if customer.new?
          %span.new
            = image_tag ("new_small.gif")
      %li.phone_column
        = customer.phone
      %li.email_column
        = customer.email
      %li.edit_column
        - if can? :update, Customer
          = button_to  "editieren", edit_customer_path(customer), :method => :get
      %hr