- checkboxes ||= false
%li.company_column
  = link_to "#{customer.company}", customer
  -if customer.new?
    %span.new
      = image_tag ("new_small.gif")
%li.phone_column
  = customer.phone
%li.email_column
  = customer.email
%li.rating_column
  = customer.rating_to_stars
- if checkboxes
  %li.checkbox_column
    = check_box_tag "customer_ids[]", customer.id, :checked => true   
- if can? :update, Customer
  %li.edit_column
    = button_to  "editieren", edit_customer_path(customer), :method => :get
%hr